@font-face {
  font-family: ibm-plex-sans;
  src: url("../font/IBMPlexSans-Regular.ttf");
}

body {
  font-family: ibm-plex-sans, sans-serif;
  background-color: #022333;
  background-image: url("../../assets/images/login-dark-background.png");
}

header {
  margin-bottom: 40px;
}

.register-header {
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

hr {
  border-top: 1px solid #e0e0e0;
  border-bottom: none;
  margin: 1.5rem 0 1rem;
}

.red {
  color: red;
}

.alert-error {
  margin-bottom: 1rem;
}

.cds--btn {
  width: 100%;
}

.cds--form-item {
  margin-bottom: 0.5rem;
}

.cds--form-item > div {
  width: 100%;
}

.cds--form-item-register > div {
  width: 100%;
}

.cds--input__field-outer-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.input-label-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-label-row a {
  margin-bottom: 0.5rem;
}

.content-box {
  width: 50%;
  overflow-y: hidden;
}

.login-box {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  border-radius: 0 15px 15px 0;
  background-image: url("../../assets/images/login-circle.png");
  background-size: 550px 130px;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: auto;
}

.form-box {
  max-width: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
  margin: auto;
}

.form-box-register {
  max-width: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.social-providers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cds--link {
  display: block;
}

.cds--form-requirement p {
  font-size: inherit;
}

.login-input {
  height: 56px;
  padding: 20px 16px;
  background-color: #e9eff2;
  border: 1px solid #747e893b;
  border-radius: 8px;
  &:hover {
    border: 1px solid #747e89;
  }
  &:active {
    outline: none;
    border: 1px solid #747e89;
  }
  &:focus {
    outline: none;
    border: 1px solid #747e89;
  }
  &:focus-visible {
    outline: none;
    border: 1px solid #747e89;
  }
}

.login-input-register {
  height: 40px;
  padding: 15px 16px;
  background-color: #e9eff2;
  border: 1px solid #747e893b;
  border-radius: 8px;
  &:hover {
    border: 1px solid #747e89;
  }
  &:active {
    outline: none;
    border: 1px solid #747e89;
  }
  &:focus {
    outline: none;
    border: 1px solid #747e89;
  }
  &:focus-visible {
    outline: none;
    border: 1px solid #747e89;
  }
}

.login-btn {
  max-width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-radius: 8px;
  padding: 14px 15px;
  background-color: #055880;
  &:hover {
    background-color: rgb(3, 61, 89);
  }
}

.input-error {
  background-color: #fee7e7;
  border-color: #662929;
  color: #662929;
  outline: none !important;
}

.error-message {
  color: #662929;
}

#kc-header-wrapper {
  display: none;
}

#kc-form-buttons {
  margin-top: 1rem;
}

#kc-registration {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#kc-social-providers ul a {
  margin-top: 1rem;
}

.google-login-button {
  max-width: 100%;
  height: 52px;
  display: flex;
  align-items: flex-end;
  border: 1px 1px 1px 1px;
  border-color: black;
  color: black;
  border-radius: 8px;
  padding: 14px 15px;
  position: relative;
  background-color: white;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0px 4px 12px;
    background-color: rgb(3, 61, 89);
  }
  svg {
    position: absolute;
    left: 15px;
  }

  span {
    text-align: center;
    flex: 1;
  }
}

@media (max-width: 1300px) {
  .content-box {
    width: 100% !important;
  }

  .form-box-register {
    width: 100%;
    height: fit-content;
    padding: 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .form-box {
    width: 100%;
    height: fit-content;
    padding: 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .login-box {
    align-items: center;
  }
}

@media (max-height: 1000px) {
  .form-box-register {
    box-shadow: none;
  }

  .form-box {
    box-shadow: none;
  }
}
